body{
        background-color:#2d545e ;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 10px;
}
.main-container{
    width: 550px;
    color: #e1b382;
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgba(225, 179, 130, 0.3);
    border: 2px solid #e1b382;
    padding: 10px;
    margin: 15px 0;
   
}
.main-container img{
    max-width: 100%;
    margin-bottom: 15px;
  
    
}
.main-container h2 {
    font-size: 56px;
}

.main-container p {
    text-align: justify;
}

.main-container button{
    padding: 10px;
    border-radius: 20px;
    font-weight:500;
    cursor: pointer;
    color: #e1b382;
    border: 3px solid #e1b382 ;
    background-color:#2d545e ;
}
.main-container button:hover{
    filter: brightness(120%) ;
}
.trailercontainer{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #2d545e;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trailercontainer video{
    position: absolute;
    max-width: 70%;
    outline: none;
}
@media only screen and (max-width: 70.01px) {
    .trailercontainer video {
        max-width: 100% !important;
    }
}
.closebtn{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #e1b382;
    cursor: pointer;
}
.closebtn:hover{
    filter: brightness(1.20);
}
.active{
   display: none; 
}